@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@import '../../constants';

:root {
  --tabFinderBackground: #{$background-dark};
  --tabFinderBackgroundDarker: #{darken($background-dark, 10%)};
  --tabFinderFontColor: #{$material-87};
}

.container {
  display: block;
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
    font-family: 'Lato', sans-serif;
  }
}
