@import '../../constants';

$radius: 16px;
$selected: darken($background, 20%);

.container {
  animation: fade-in 0.15s;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: 32px 48px;
  max-height: 600px;
  overflow: hidden;
}

.tabs {
  flex-shrink: 1;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $background;
  border-radius: 0 0 $radius $radius;
}

.tab {
  transition: all 0.15s ease;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  width: 100%;

  &.selected {
    background-color: $selected;
  }
}

.tabTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  color: $material-87;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.input {
  width: 100%;
  padding: 8px 16px;
  outline: 0;
  border: 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  border-radius: $radius $radius 0 0;
}
