@import '../../constants';

$togglerWidth: 12px;

.container {
  position: relative;
  border-radius: 32px;
  background: linear-gradient(90deg, $purple, lighten($purple, 30%));
  height: 18px;
  width: 40px;
  padding: 3px;
  outline: none;
  border: none;
  cursor: pointer;

  &.active .toggler {
    left: calc(100% - #{$togglerWidth + 3px});
  }
}

.toggler {
  transition: all 0.25s;
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  width: $togglerWidth;
  border-radius: 50%;
  background-color: $white;
}
