$material-12: rgba(255, 255, 255, 0.12);
$material-34: rgba(255, 255, 255, 0.32);
$material-54: rgba(255, 255, 255, 0.54);
$material-87: rgba(255, 255, 255, 0.87);

$material-12-dark: rgba(0, 0, 0, 0.12);
$material-34-dark: rgba(0, 0, 0, 0.32);
$material-54-dark: rgba(0, 0, 0, 0.54);
$material-87-dark: rgba(0, 0, 0, 0.87);

$white: #fff;
$black: #000;

// Theme
$background-dark: #0e0e31;
$background-light: #ffffff;
$purple: #4d28ce;
