@import '../../constants';

.container {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  border-radius: 50%;
  filter: drop-shadow(0 0 3px $material-34);

  &.errored {
    background-color: $white;
  }
}
